<ul class="icons">
  <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
  <li><a href="https://www.facebook.com/mnierodrums" class="icon fa-facebook" target="_blank" ><span class="label">Facebook</span></a></li>
  <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
  <li><a href="mailto:dartoddd@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
</ul>
<ul class="copyright">
  <li>&copy; Marcelo Niero</li>
  <li>Design by: Dalton D. Daibes </li>
</ul>
