<h1><a href="index.html">Marcelo Niero</a></h1>
<nav id="nav">
  <ul>
    <li class="special">
      <a href="#menu" class="menuToggle"><span>Menu</span></a>
      <div id="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="midias.html">Mídia Digital</a></li>
          <li><a href="loja.html">Produtos</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
