
		<!-- Start Top Header -->
		<div id="top-header" class="hidden-on-collapse">
			<div id="top-header-toggle" class="small-player-toggle-contract"></div>

			<div class="now-playing-title" amplitude-song-info="name"></div>
			<div class="album-information"><span amplitude-song-info="artist"></span> - <span amplitude-song-info="album"></span></div>
		</div>
		<!-- End Top Header -->

		<!-- Start Large Album Art -->
		<div id="top-large-album" class="hidden-on-collapse">
			<img id="large-album-art" amplitude-song-info="cover"/>
		</div>
		<!-- End Large Album Art -->

		<!-- Begin Small Player -->
		<div id="small-player">
			<!-- Begin Small Player Left -->
			<div id="small-player-left" class="hidden-on-expanded">
				<div id="small-player-toggle" class="small-player-toggle-expand"></div>
			</div>
			<!-- End Small Player Left -->

			<!-- Begin Small Player Album Art -->
			<img id="small-player-album-art" class="hidden-on-expanded" amplitude-song-info="cover"/>
			<!-- End Small Player Album Art -->

			<!-- Begin Small Player Middle -->
			<div id="small-player-middle" class="hidden-on-expanded">
				<div id="small-player-middle-top">
					<!-- Begin Controls Container -->
					<div id="small-player-middle-controls">
						<div class="amplitude-prev" id="middle-top-previous"></div>
						<div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true" id="middle-top-play-pause"></div>
						<div class="amplitude-next" id="middle-top-next"></div>
					</div>
					<!-- End Controls Container -->

					<!-- Begin Meta Container -->
					<div id="small-player-middle-meta">
						<div class="now-playing-title" amplitude-song-info="name"></div>
						<div class="album-information"><span amplitude-song-info="artist"></span> - <span amplitude-song-info="album"></span></div>
					</div>
					<!-- End Meta Container -->
				</div>

				<div id="small-player-middle-bottom">
					<div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization"></div>
				</div>
			</div>
			<!-- End Small Player Middle -->

			<!-- Begin Small Player Right -->
			<div id="small-player-right" class="hidden-on-expanded">
				<div id="toggle-playlist" class="playlist-toggle"></div>
				<span class="current-time">
					<span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
				</span>
			</div>
			<!-- End Small Player Right -->

			<!-- Begin Small Player Full Bottom -->
			<div id="small-player-full-bottom" class="hidden-on-collapse">
				<div id="toggle-playlist-full" class="playlist-toggle"></div>
				<div id="small-player-full-bottom-controls">
					<div class="amplitude-prev" id="middle-bottom-previous"></div>
					<div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true" id="small-player-bottom-play-pause"></div>
					<div class="amplitude-next" id="middle-top-next"></div>
				</div>
				<div id="small-player-full-bottom-info">
					<span class="current-time">
						<span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
					</span>

					<div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization-large"></div>

					<span class="time-duration">
						<span class="amplitude-duration-minutes" amplitude-single-duration-minutes="true">0</span>:<span class="amplitude-duration-seconds" amplitude-single-duration-seconds="true">00</span>
					</span>
				</div>
			</div>
			<!-- End Small Player Full Bottom -->
		</div>
		<!-- End Small Player -->

		<!-- Begin Playlist -->
		<div id="small-player-playlist">
			<div class="information">
				Playlist
				<hr class="playlist">
			</div>
			<div id="itemPlaylist" class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="0" style="display: none;">
				<img src="" class="album-art"/>
				<div class="playlist-meta">
					<div class="now-playing-title">Living Proof</div>
					<div class="album-information">Gregory Alan Isakov - The Weatherman</span></div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<!-- <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="1">
				<img src="images/roomsforadelaide.jpg" class="album-art"/>
				<div class="playlist-meta">
					<div class="now-playing-title">Rooms</div>
					<div class="album-information">Mia and Jonah - Rooms For Adelaide</span></div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="2">
				<img src="images/thesuburbs.jpeg" class="album-art"/>
				<div class="playlist-meta">
					<div class="now-playing-title">Suburban War</div>
					<div class="album-information">The Arcade Fire - The Suburbs</span></div>
				</div>
				<div style="clear: both;"></div>
			</div> -->
		</div>

	<script type="text/javascript">
	  $.get("audio/content/playlist.json",
			function (data){	loadingPlayer(data);	}
			, "json");

		function loadingPlayer(data) {
			/*
				Completar playlist
			*/
			for( i = 0; i < data.songs.length; i++ ){
				var song = data.songs[i];
				var itemPlaylist = $("#itemPlaylist").clone();
				itemPlaylist.attr("amplitude-song-index", i);
				itemPlaylist.find(".album-art").attr("src", song.cover_art_url);
				itemPlaylist.find(".now-playing-title").text(song.name);
				itemPlaylist.find(".album-information").text(song.artist + " - " + song.album);
				itemPlaylist.show();
				$("#small-player-playlist").append(itemPlaylist);
			}

		  //    $.each(data.songs, function (index, value) {
			//           console.log(index);
			//    });​

			Amplitude.init(data);

			var expanded = false;
			var playlistEpxanded = false;


			/*
				jQuery Visual Helpers
			*/
			$('#small-player').hover(function(){
				$('#small-player-middle-controls').show();
				$('#small-player-middle-meta').hide();
			}, function(){
				$('#small-player-middle-controls').hide();
				$('#small-player-middle-meta').show();
			});


			$('#top-large-album').click(function(){
				if(($('#small-player').is(':visible')) ){
					$('#top-header').fadeOut(300);
					$('#small-player').fadeOut(300);
				}
				else{
					$('#top-header').fadeIn(100);
					$('#small-player').fadeIn(100);
				}
			});

			/*
				Toggles Album Art
			*/
			$('#small-player-toggle').click(function(){
				$('.hidden-on-collapse').show();
				$('.hidden-on-expanded').hide();
				/*
					Is expanded
				*/
				expanded = true;

				$('#small-player').css('border-top-left-radius', '0px');
				$('#small-player').css('border-top-right-radius', '0px');
			});

			$('#top-header-toggle').click(function(){
				$('.hidden-on-collapse').hide();
				$('.hidden-on-expanded').show();
				/*
					Is collapsed
				*/
				expanded = false;

				$('#small-player').css('border-top-left-radius', '5px');
				$('#small-player').css('border-top-right-radius', '5px');
				$('#small-player').fadeIn(500);
			});

			$('.playlist-toggle').click(function(){
				if( playlistEpxanded ){
					$('#small-player-playlist').hide();

					$('#small-player').css('border-bottom-left-radius', '5px');
					$('#small-player').css('border-bottom-right-radius', '5px');

					$('#large-album-art').css('border-bottom-left-radius', '5px');
					$('#large-album-art').css('border-bottom-right-radius', '5px');

					playlistEpxanded = false;
				}else{
					$('#small-player-playlist').show();

					$('#small-player').css('border-bottom-left-radius', '0px');
					$('#small-player').css('border-bottom-right-radius', '0px');

					$('#large-album-art').css('border-bottom-left-radius', '0px');
					$('#large-album-art').css('border-bottom-right-radius', '0px');

					playlistEpxanded = true;
				}
			})
		}
	</script>
